body {
  margin: 0;
  background: linear-gradient(141deg, #fdfbfb 0%, #ebedee 100%);
  min-height: 100vh;
}

#application {
  nav {
    background-color: #272932;
    display: flex;
    flex-direction: row;
    flex-wrap: no-wrap;
    justify-content: space-between;
    height: 60px;

    a {
      color: #fff;
      font-size: 1.6rem;
      padding: 10px;
      text-decoration: none;
      align-self: center;

      &:hover {
        color: #e7e247;
      }
    }
  }

  main {
    width: 60%;
    margin: 0 auto 0 30%;
    overflow: hidden;
    min-height: 95vh;

    #color-links {
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;

      a {
        position: relative;
        height: 100%;
        width: 20%;
        color: #fff;
        text-decoration: none;
        margin: 10px 10px 10px 0;
        padding: 20px;
        text-align: center;

        &:hover {
          opacity: .7;
        }
      }
    }
  }
}
